body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    padding-top: 40px;
}

#resultBox {
    margin-top: 30px;
    padding: 20px;
    background: white;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}

button {
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
